{% extends "base.html" %}
{% block content %}
<h1 class="text-center font-weight-bold col-8 m-auto" style="width: 400px;">Quick Options</h1>
<div class="col-8 mx-auto d-flex justify-content-around">
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odio rem, animi asperiores explicabo non, maiores tempore dolorem voluptatem est culpa itaque molestiae perferendis dolorum. Ab non maxime amet autem!</p>
        <a href="/new/order">New Order</a>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odio rem, animi asperiores explicabo non, maiores tempore dolorem voluptatem est culpa itaque molestiae perferendis dolorum. Ab non maxime amet autem!</p>
        <a href="#">Re-Order My FAVE</a>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium odio rem, animi asperiores explicabo non, maiores tempore dolorem voluptatem est culpa itaque molestiae perferendis dolorum. Ab non maxime amet autem!</p>
        <a href="#">SUPRISE ME</a>
    </div>
</div>
{% endblock %}